{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %} {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
{% block extrahead %} {# Extra Resources Start #}
{{ form.media }} {# Adds date-picker required JS and CSS #}
{% endblock %}          {# Extra Resources End #}

{% block content %}
<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2"> Number			    : 	{{period.pr_num}}  </p>
  <p class="h2"> From Date		    : 	{{period.pr_from_date}}  </p>
  <p class="h2"> To Date		    : 	{{period.pr_to_date}}  </p>
  <p class="h2"> Status		        :	{{period.pr_status}}
  <p class="h2"> Process Status	    :	{{period.pr_proc_status}}
  <p class="h2"> Interest Rate	    :	{{period.pr_int_rate}}
 </div>
 <div class="col-md-1 col-xs-1 col-sm-1">
  <a href="{% url 'editperiod' period.pk %}">
   <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-pencil"></span>
   </button>
  </a>
 </div>
 <div class="col-md-1 col-xs-1 col-sm-1">
  <a href="{% url 'deleteperiod' period.pk %}">
   <button type="button" class="btn btn-danger">
    <span class="glyphicon glyphicon-trash"></span>
   </button>
  </a>
 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">

 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>
{% endblock %}